@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  /* height: 100vh; */
  background-color: #f2f4f8 !important;
}
.pageContainer {
  margin: 3rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pageHeader {
  font-size: 2rem;
  font-weight: 800;
}
.landing-page-paragraf{
  font-size: 1.7rem;
  font-weight: 550;
}
.title {
  font-size: 28px;
  font-weight: bold;
}
.link {
  text-decoration: none;
  margin-left: 5px;
  font-weight: 800;
  color: #007bff;
}
.title span {
  position: relative;
}
.title span::after {
  content: "";
  position: absolute;
  transform: scaleX(0);
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #999;
  transition: transform 0.25s ease-out;
  transform-origin: bottom right;
}
.title span:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #f2f4f8;
}
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #999;
}

/* NAVBAR */
.nav-footer {
  position: fixed;
  bottom: 0%;
  left: 0%;
  right: 0%;
  height: 80px;
  background-color: #fff;
  z-index: 1000 !important;
}
.navItems {
  height: 100%;
  padding: 0%;
  margin: 0%;
  display: flex;
  list-style-type: none;
}
.navItems li {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(150, 147, 147);
}
li.active {
  color: black;
}
.navItems li i {
  font-size: 30px;
  cursor: pointer;

  margin-bottom: 5px;
}
.text {
  font-family: inherit;
}

/* LANDING PAGE */
.ctg-row{
  height: 100% !important;
}
.ctg-row div{
  cursor: pointer;
}


.category-title {
  font-size: 1.5rem;
  font-weight: 450;
  text-align: center;
}

/* SIGN UP form */
form label {
  width: 100%;
  margin-top: 5px;
}
.btn-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 35%;
  font-size: 20px;
}
.forgotPassword {
  display: block;
  text-align: right;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #007bff;
}
.signWithGoogle {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #007bff;
  font-weight: 700;
  font-size: 18px;
}
.icon {
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.frm-el{
  position: relative;
}
.togglePassword {
  position: absolute;
  right: 2%;
  top: 58%;
  cursor: pointer;
}
.togglePassword i {
  font-size: 26px;
}
.password-policies {
  width: 100%;
  padding: 0px;
  height: 0px;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-top: 5px;
  box-sizing: border-box;
  opacity: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out ,opacity 0.3s ease-in-out;
}
.password-policies.active{
  opacity: 1;
  padding: 10px;
  height: 180px;
  transition: height 0.3s ease-in-out ,opacity 0.3s ease-in-out;
}
.password-policies > div {
  margin: 10px 5px;
  font-weight: 600;
  color: #888;
}
.password-policies > div.active{
  color: #111;
}

/* SPINNER COMPONENT*/
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #00cc66 transparent #00cc66 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* PONUDE PAGE */
.offerPageContainer {
  margin: 1rem;
}
.offerTrueListings {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(200px, 1fr);
  grid-gap: 10px;
}
.offerTrueListings .listingItemImg {
  width: 70%;
}
.offerTrueListings .listingMoreInfo li {
  width: 100%;
}

/* PROFILE PAGE */
.profileContainer {
  margin: 3rem;
  padding-bottom: 80px;
}
.profileInfo {
  width: 75%;
}
.profileHeader {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 25px;
} 
 .profileHeader p {
  color: #000;
  font-weight: 700;
} 
.logout,
.go-back {
  display: flex;
  align-items: center;
  color: #007bff;
  font-size: 18px;
  font-weight: 700;
  margin: 0px;
  cursor: pointer;
}
.logout i,
.go-back i {
  margin-left: 8px;
}
.change {
  display: flex;
  border: none;
  background-color: transparent;
  color: #007bff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.change:focus {
  outline: 0;
}
.profilePhotoDiv {
  width: 160px;
  height: 150px;
  position: relative;
  border-radius: 50%;
  background-color: #fff;
}
.profilePhotoDiv img {
  position: absolute;
  border-radius: 50%;
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.addPhoto {
  position: relative;
  left: 70%;
  top: 74%;
  width: 50px;
  height: 25px;
  padding: 0px;
  margin: 0px;
}
.addPhoto input {
  opacity: 0;
  z-index: 10;
  width: 50px !important;
  height: 30px !important;
  position: absolute;
  left: 0%;
  top: 0%;
  bottom: 0%;
  right: 0%;
  padding: 0px;
  margin: 0px;
}
.addPhoto input:disabled {
  z-index: -1;
}
.addPhoto i {
  font-size: 30px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  bottom: 0%;
  right: 0%;
  cursor: pointer;
}
.fas.fa-camera {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 35px;
  border-radius: 50%;
  font-size: 25px;
  background-color: #ddd;
}
.fas.fa-camera.hidden {
  display: none;
}
.fas.fa-check,
.fas.fa-times {
  display: none;
}
.fas.fa-check.visible,
.fas.fa-times.visible {
  display: block;
}
.saveOrCancel {
  position: relative;
}
.saveOrCancel i:nth-of-type(1) {
  left: 20%;
}
.saveOrCancel i:nth-of-type(2) {
  left: 95%;
}

.profileForm {
  background-color: #fff;
  padding: 5px 12px;
  border-radius: 15px;
  width: 80%;
}
.profileForm input {
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  margin: 4px 0px;
  font-size: 16px;
  padding: 0px;
  font-weight: 700;
  color: #000;
}
input.allowChange {
  background-color: #e0e0e0;
}
.profileForm button {
  margin-top: 5px;
  width: 100%;
}
.createListingLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 50px;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  font-weight: 500;
  padding: 15px;
  border-radius: 15px;
  font-size: 18px;
}
.createListingLink:hover {
  text-decoration: none;
  color: #000;
}
.createListingLink i {
  font-size: 20px;
}
.yourListings {
  margin-top: 40px;
  font-size: 20px;
  color: #000;
  font-weight: 500;
}

/*PROFILE PAGE > VERIFY EMAIL */
.verify-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  max-width: 75%;
  background-color: #fff;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
}
.verify-card p {
  text-align: center;
}
.verify-card i {
  font-size: 6rem;
  color: #007bff;
  position: absolute;
  top: -12%;
}
.verify-card button {
  margin-top: 20px;
}
/* FORGOT PASSWORD PAGE */
.footerForgotPassword {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.footerForgotPassword a {
  text-decoration:  none;
  font-weight: 600;
}
/* RESET PASSWORD PAGE  */
.resetPasswordForm span {
  display: block;
  text-align: left;
  font-size: 14px;
  margin-bottom: 20px;
}
.showHidePassword{
  position: relative;
}
.showHidePassword i {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  font-size: 22px;
  cursor: pointer;
}

/* SEARCH COMPONENT STYLING*/
.category-page input::-webkit-outer-spin-button,
.category-page input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.category-page input[type="number"] {
  -moz-appearance: textfield;
  text-align: left;
}
.pageContainerCategory {
  margin: 3rem;
  position: relative;
}
.category-page {
  margin-bottom: -250px;
  transform: translateX(-150%);
  transition: all 0.3s ease-in;
  padding: 0px 15px;
}
.category-page.active {
  display: block;
  transition: all 0.3s ease-in;
  margin-bottom: 0px;
  transform: translateX(0);
  opacity: 1;
}
.category-page form i {
  margin-right: 5px;
}
.category-page label {
  transform: scale(1);
  transition: 0.3s ease-out;
}
.category-page label:hover {
  transition: 0.2s ease-in;
  transform: scale(1.01);
}
.filter {
  font-size: 20px;
  font-weight: 700;
}
.filter i {
  cursor: pointer;
  width: 20px;
}

/* GRID SYSTEM */
.category-listing-item,
.yourListingsContainer,
.offerTrueListings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(180px, 1fr);
  grid-row-gap: 10px;
  margin-bottom: 100px;
}
.category-listing-item {
  /* padding: 5px 0px 0px 5px; */
  /* padding: ; */
}
.yourListingsContainer {
  padding: 5px 0px 70px 5px;
}
/* LISTING ITEM COMPONENT */
.listingItem {
  display: flex;
  border-radius: 0px 10px 10px 0px;
  background-color: #efefef;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s ease;
  margin: 0px 10px 20px 0px;
  
}
#listing-item:hover {
  transform: scale(1.01);
  transition: transform 0.2s ease;
}
.listingPrice {
  position: absolute;
  left: 0%;
  bottom: 0%;
  margin: 0px 0px 0px 0px;
  border-radius: 0px 5px 0px 10px;
  padding: 3px 5px;
  background-color: rgba(0, 204, 102, 0.8);
  color: #000;
  font-weight: bold;
}
.listingItemImg {
  width: 60%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
  padding: 0px;
}
.listingMoreInfo {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}
.listingMoreInfo li {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 5px 0px;
  width: 65%;
}
.listingMoreInfo .iconsForResponsive {
  display: none;
}
.listingMoreInfo i {
  margin: 0px 8px;
  font-size: 16;
}
.deleteListing,
.editListing {
  position: absolute;
  border: none;
  font-size: 19px;
  background-color: transparent;
  top: 3%;
  z-index: 100;
}
.deleteListing {
  right: 0%;
  color: #e74c3c;
}
.editListing {
  right: 4%;
  color: #e74c3c;
}

/* CREATE LISTING PAGE */
input[type="file"] {
  width: 150%;
  background-color: #fff;
  padding: 10px;
}
input[type="file"]::-webkit-file-upload-button {
  background-color: #007bff;
  border: none;
  color: #fff;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}
input[type="number"] {
  text-align: center;
}
.createListingContainer {
  margin: 3rem;
}
.createListingContainer form {
  color: #000;
  font-weight: 500;
  font-size: 17px;
  width: 50%;
  padding-bottom: 80px;
}
.createListingContainer input,
.createListingContainer textarea {
  border: none;
  width: 100%;
  padding: 6px 10px;
  border-radius: 15px;
  font-weight: 600;
}
.createListingContainer textarea {
  height: 170px;
  width: 130%;
  font-size: 15px;
}
.createListingContainer input:focus,
.createListingContainer textarea:focus {
  outline: 0;
}
.formButtonsDiv {
  display: flex;
  color: #000;
}
.formButtonsDiv input {
  display: none;
}
.formButton {
  border: none;
  background-color: #fff;
  color: #000;
  font-weight: 500;
  border-radius: 20px;
  padding: 8px 25px;
  cursor: pointer;
  margin: 0px 3px;
  /* z-index: 1000000; */
}
.formButton.active {
  color: #fff;
  background-color: #007bff;
}
.latLngDiv {
  display: flex;
}
.lat,
.lng {
  flex: 1;
}
.lat {
  margin-right: 20px;
}
.surfaceCreateListing {
  display: flex;
  align-items: center;
  width: 100%;
}
.surfaceCreateListing input {
  width: 35%;
}
.surfaceCreateListing span {
  font-size: 18px;
  margin-left: 10px;
}
.numberInputs {
  display: flex;
}
.numberInputs > div {
  margin-right: 15px;
}
.groupOfNumberInputs {
  width: 45%;
}
.groupOfNumberInputs input {
  padding: 6px 10px;
}
.createListingPriceDiv {
  width: 100%;
  display: flex;
  align-items: center;
}
.createListingPriceDiv input {
  width: 35%;
  margin-right: 10px;
}
.createListingPriceDiv span {
  font-size: 18px;
  display: flex;
  align-items: center;
}
.createListingPriceDiv i {
  margin-right: 8px;
}
.listing-btn {
  font-size: 22px;
  font-weight: 600;
  padding: 10px 0px;
  margin: 30px 0px 20px 0px;
  border-radius: 15px;
  border: none;
  background-color: #007bff;
  color: #fff;
  width: 100%;
}
.leafletContainer-createListing {
  width: 160%;
  height: 450px;
  overflow-x: hidden;
  position: relative;
}
.leafletContainer-createListing input {
  /* opacity: 0; */
  /* z-index: -1; */
  position: absolute;
  height: 100%;
}
/* EDIT LISTING - Choosen Images */
.uploaded-images {
  margin: 15px 0px;
  width: 130%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(130px, 1fr);
  background-color: #fff;
  padding: 30px 10px;
  border-radius: 10px;
}
.uploaded-image {
  width: 100%;
  height: 160px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
.fas.fa-times.visible-edit-listing {
  color: #000;
  display: block;
  cursor: pointer;
  position: absolute;
  color: #e80606;
  z-index: 999;
  top: 3%;
  right: 3%;
  font-size: 26px;
}
.fas.fa-times.visible-edit-listing:hover {
  transform: scale(1.2);
}
/* Landing page - Swiper Slide styling */
.swiperSlideDiv-landingPage {
  height: 27vw;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}
.swiperSlideText {
  color: #ffffff;
  position: absolute;
  top: 0%;
  left: 0%;
  font-weight: 600;
  max-width: 90%;
  font-size: 1.25rem;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5rem 1rem;
}
.swiperSlidePrice {
  color: #000000;
  position: absolute;
  top: 40%;
  left: 3%;
  font-weight: 600;
  max-width: 90%;
  background-color: #ffffff;
  padding: 0.25rem 1.25rem;
  font-size: 1.25rem;
  border-radius: 30px;
}
/* SINGLE PAGE LISTING */
/* SWIPER */
.swiperSlideDiv {
  position: relative;
  width: 100%;
  height: 400px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.singleListingPage {
  padding-bottom: 200px;
}
.singleListingPage main {
  margin: 25px;
}
.singleListingPage span,
.singleListingPage p {
  margin: 5px 0px;
}
.singleListingPage i {
  margin-right: 10px;
}
.discountedPrice {
  font-size: 20px;
  font-weight: 700;
}
.singleListing-nameAndPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}
.singleListing-paragraph {
  font-size: 32px;
  margin: 0px;
}
.singleListing-type {
  color: #007bff;
  border: 3px solid #007bff;
  border-radius: 50px;
  padding: 10px;
  font-size: 20px;
  margin: 0px;
  transition: all 0.6s ease;
}
.singleListing-type:hover {
  background-color: #007bff;
  color: #fff;
}
.singleListing-address {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
}
.buildingType {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}
.roomsAndSurface,
.bedroomsAndBathrooms {
  display: flex;
  align-items: center;
  width: 40%;
  font-size: 22px;
  margin: 10px 0px;
}
.roomsAndSurface span,
.bedroomsAndBathrooms span {
  font-weight: 600;
  font-size: 20px;
}
.roomsAndSurface small,
.bedroomsAndBathrooms small {
  font-size: 18px;
  color: #999;
  font-weight: 700;
}
.rooms,
.singleListing-surface,
.bedrooms,
.bathrooms {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.ostalo {
  display: flex;
  width: 55%;
}
.ostalo div {
  flex: 1;
  display: flex;
  align-items: center;
}
.ostalo small {
  font-size: 20px;
  font-weight: 600;
}
.ostalo .fas {
  display: block;
  font-size: 22px;
  font-weight: 600;
  margin-left: 10px;
}
.ostalo .fas.fa-check {
  color: #00cc66;
}
.ostalo .fas.fa-times {
  color: #e74c3c;
}
.descriptionDiv {
  font-size: 18px;
}
.leafletContainer {
  width: 100%;
  height: 500px;
  overflow-x: hidden;
}
.listingOwner span {
  font-size: 18px;
}




/* RESPONSIVE DESIGN */
@media (max-width: 1900px) {
  .category-listing-item,
  .yourListingsContainer,
  .offerTrueListings {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1500px) {
  .createListing {
    width: 30%;
  }
  .editListing {
    right: 5%;
  }
  .listingMoreInfo li {
    width: 85%;
    font-size: 14px;
  }
  .swiperSlideDiv {
    height: 300px;
  }
}
@media (max-width: 1350px) {
  .pageContainerCategory {
    margin: 1.5rem;
  }
  .profileContainer {
    margin: 1.5rem;
  }
  .leafletContainer-createListing {
    width: 180%;
    height: 400px;
  }
  .singleListing-paragraph {
    font-size: 90%;
  }
  .category-listing-item {
    grid-auto-rows: minmax(160px, 1fr);
  }
  .swiperSlideText {
    font-size: 1rem;
    padding: 0.35rem 0.75rem;
  }
  .swiperSlidePrice {
    font-size: 1rem !important;
    padding: 0.2rem 0.75rem;
  }
}
@media (max-width: 1150px) {
  .yourListingsContainer {
    grid-auto-rows: minmax(150px, 1fr);
  }
  .editListing,
  .deleteListing {
    font-size: 15px;
  }
  .listingMoreInfo li {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 1050px) {
  .listingMoreInfo li {
    width: 80%;
  }
  .editListing {
    right: 5%;
  }
  .category-listing-item {
    grid-auto-rows: minmax(150px, 1fr);
  }
}
@media (max-width: 900px) {
  .landing-page-paragraf{
    font-size: 1.5rem;
  }
  .category img {
    margin: 0 5px;
  }
  .profileContainer {
    margin: 1rem;
  }
  .profileInfo {
    width: 80%;
  }
  .pageContainer {
    margin: 1rem;
  }
  .category-page {
    flex-direction: column;
  }
  .pageContainerCategory {
    margin: 0.6rem;
  }
  .category-listing-item {
    grid-auto-rows: minmax(240px, 1fr);
  }
  .category-listing-item .listingItem {
    border-radius: 10px;
  }
  .listingItemImg {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
  }
  .listingMoreInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    height: 35px;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0px;
    opacity: 1;
    transition: opacity 0.2s ease-in;
    border-radius: 10px 10px 0px 0px;
  }
  .listingMoreInfo li {
    justify-content: center;
  }
  .listingItem:hover .listingMoreInfo {
    opacity: 0;
    transition: opacity 0.2s ease-out;
  }
  .listingMoreInfo .icons {
    display: none;
  }
  .listingMoreInfo li {
    background-color: transparent;
    border-radius: 0px;
    text-align: center;
  }
  .listingMoreInfo .iconsForResponsive {
    display: block;
  }
  .listingMoreInfo i {
    margin: 0px 8px;
  }
  .listingPrice {
    border-radius: 0px 0px 10px 10px;
    bottom: -10%;
    background-color: #00cc66;
    width: 100%;
    text-align: center;
    padding: 3px;
    margin: 0px;
  }
  .offerTrueListings .listingItemImg {
    width: 100%;
  }
  .yourListingsContainer,
  .offerTrueListings {
    grid-auto-rows: minmax(220px, 1fr);
    grid-template-columns: repeat(2, 45%);
    justify-content: space-around;
    grid-row-gap: 6px;
  }
  .deleteListing {
    right: -9%;
    top: 0%;
  }
  .editListing {
    right: -10%;
    top: 12%;
  }
  .createListingContainer {
    margin: 2rem;
  }
  .singleListing-nameAndPrice {
    flex-direction: column;
    align-items: flex-start;
  }
  .singleListing-paragraph {
    font-size: 22px;
  }
  .singleListing-type {
    padding: 6px 14px;
    font-size: 20px;
  }
  .roomsAndSurface,
  .bedroomsAndBathrooms {
    width: 55%;
  }
  .swiperSlideText {
    font-size: 0.75rem;
    padding: 0.35rem 0.75rem;
  }
  .swiperSlidePrice {
    font-size: 0.75rem !important;
    padding: 0.2rem 0.75rem;
  }
}
@media (max-width: 700px) {
  .profileInfo {
    width: 100%;
  }
  .category-title{
    font-size: 1.4rem;
  }
  .landing-page-paragraf{
    font-size: 1.4rem;
  }
  .category-listing-item {
    grid-auto-rows: minmax(200px, 1fr);
    justify-content: space-between;
  }
  .offerTrueListings {
    grid-auto-rows: minmax(190px, 1fr);
  }
  .category-listing-item.listingMoreInfo {
    height: 30px;
    width: 100%;
  }
  .category-listing-item .listingMoreInfo li:nth-of-type(2) i {
    margin: 0px 5px;
  }
  .listingMoreInfo i {
    margin: 0px 4px;
  }
  .offerTrueListings .listingMoreInfo i {
    margin: 0px 10px;
  }
  
  .createListingLink {
    width: 90%;
  }
  .createListingLink i {
    font-size: 20px;
  }
  .profileHeader {
    width: 90%;
  }
  .profileForm {
    width: 90%;
  }
  .leafletContainer-createListing {
    width: 145%;
    height: 400px;
  }
  .createListingContainer form {
    width: 70%;
  }
  .leafletContainer {
    height: 350px;
  }
  .singleListing-paragraph {
    font-size: 18px;
  }
  .singleListing-type {
    font-size: 15px;
    padding: 2px 12px;
  }
  .title {
    font-size: 22px;
  }
  .singleListing-address,
  .buildingType,
  .roomsAndSurface,
  .bedroomsAndBathrooms {
    font-size: 20px;
  }
  .surface-icon {
    height: 22px;
    width: 22px;
  }
  .ostalo {
    width: 75%;
  }
  .swiperSlideDiv {
    height: 200px;
  }
  .roomsAndSurface,
  .bedroomsAndBathrooms {
    width: 75%;
  }
  .discountedPrice {
    font-size: 18px;
  }
  .swiperSlideText {
    font-size: 0.65rem;
    padding: 0.15rem 0.55rem;
  }
  .swiperSlidePrice {
    font-size: 0.65rem !important;
    padding: 0rem 0.75rem;
  }
}
@media (max-width: 600px) {
  .editListing{
    right: -15%;
  }
  .deleteListing{
    right: -14%;
  }
  .footerForgotPassword {
    font-size: 12px ;
  }
}
@media (max-width: 480px) {
  .landing-page-paragraf{
    font-size: 1.2rem;
  }
  .offerTrueListings {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(200px, 1fr);
  }
  .offerTrueListings .listingMoreInfo {
    height: 25px;
  }
  .category img {
    border-radius: 20px;
  }
  .category-title{
    font-size: 1.3rem;
  }
  .yourListingsContainer {
    grid-auto-rows: minmax(250px, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
  .yourListingsContainer .listingItemImg,
  .yourListingsContainer .listingMoreInfo,
  .yourListingsContainer .listingPrice {
    width: 90%;
  }
  .deleteListing,
  .editListing {
    top: 0%;
    right: 0%;
  }
  .editListing {
    top: 10%;
    right: -1%;
  }
  .listingItem{
    background-color: transparent;
    margin: 15px 0px;
  }
 
  
    
 
}
@media (max-width: 450px) {
  .sign-form{
    padding-bottom: 130px;
  }
  .pageHeader {
    font-size: 1.3rem;
  }
  .category img {
    border-radius: 30px;
    margin: 0px 3px;
  }
  .category-title{
    font-size: 1rem;
  }
  header {
    flex-direction: column;
  }
  .profileContainer {
    margin: 1rem;
  }
  .profileInfo {
    width: 100%;
  }
  .category-listing-item {
    grid-auto-rows: minmax(190px, 1fr) !important;
  }

  .listingMoreInfo {
    height: 25px;
  }
  .category-listing-item .listingMoreInfo li {
    font-size: 14px;
  }
  .listingMoreInfo li:nth-of-type(2) i {
    margin: 0px 0px;
  }
  .offerTrueListings .listingMoreInfo li:nth-of-type(2) i {
    margin: 0px 5px;
  }

  .createListingContainer {
    margin: 1.5rem;
    overflow-x: hidden;
  }
  .createListingLink {
    width: 100%;
    font-size: 16px;
  }
  .createListingLink i {
    font-size: 16px;
  }
  .profileHeader {
    width: 100%;
  }
  .profileForm {
    width: 100%;
  }
  .leafletContainer-createListing {
    width: 116%;
    height: 300px;
  }
  .createListingContainer form {
    width: 90%;
  }
  .title span:nth-of-type(:not(1)) {
    font-size: 20px;
  }
  .swiperSlideDiv {
    height: 180px;
  }
  .singleListing-address,
  .buildingType {
    font-size: 18px;
  }
  .rooms span,
  .singleListing-surface span,
  .bedrooms span,
  .bathrooms span {
    font-size: 16px;
  }
  .roomsAndSurface small,
  .bedroomsAndBathrooms small {
    font-size: 16px;
  }
  .ostalo {
    width: 100%;
  }
  .ostalo .fas,
  .ostalo small {
    font-size: 18px;
  }
  .leafletContainer {
    height: 280px;
  }
  .descriptionDiv {
    font-size: 16px;
  }
  .surface-icon {
    width: 20px;
    height: 20px;
  }
  .discountedPrice {
    font-size: 16px;
  }
  .offerPageContainer .pageHeader {
    font-size: 30px;
  }
  .swiperSlideText {
    padding: 0.05rem 0.15rem;
  }
  .swiperSlidePrice {
    position: absolute;
    top: 82%;
    left: 0%;
    padding: 0rem 0.25rem;
  }
}
@media (max-width: 370px) {
  .pageHeader {
    font-size: 1rem;
  }
  /* .pageContainer {
    overflow: scroll;
  } */
  .category img {
    border-radius: 20px;
    margin: 0px 5px;
  }
  .category-listing-item {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 220px;
  }
  .category-listing-item .listingItemImg {
    height: 100%;
  }
  .listingMoreInfo {
    height: 25px;
  }
  .listingPrice {
    padding: 2px !important;
  }
  .listingMoreInfo i {
    margin: 0px 5px;
  }
  .yourListingsContainer {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1fr);
  }
  .yourListingsContainer .listingItemImg {
    width: 90%;
  }
  .yourListingsContainer .listingItemImg,
  .yourListingsContainer .listingMoreInfo,
  .yourListingsContainer .listingPrice {
    width: 90%;
  }
  .editListing {
    top: 15%;
    right: -1%;
  }
  .createListingLink {
    font-size: 15px;
  }
  .createListingLink i {
    font-size: 15px;
  }
  .leafletContainer {
    height: 300px;
  }
  .title span:nth-of-type(:not(1)) {
    font-size: 17px;
  }
  .swiperSlideDiv {
    height: 150px;
  }
  .singleListing-address,
  .buildingType {
    font-size: 16px;
  }
  .singleListing-address i,
  .buildingType i {
    font-size: 18px;
  }
  .rooms span,
  .singleListing-surface span,
  .bedrooms span,
  .bathrooms span {
    font-size: 15px;
  }
  .roomsAndSurface small,
  .bedroomsAndBathrooms small {
    font-size: 15px;
  }
  .ostalo {
    width: 100%;
  }
  .ostalo .fas,
  .ostalo small {
    font-size: 16px;
  }
  .swiperSlideText {
    top: 0%;
    padding: 0.05rem 0.15rem;
  }
  .swiperSlideDiv-landingPage .swiperSlideText{
    font-size: 8px;
  }
  .swiperSlidePrice {
    padding: 0rem 0.25rem;
  }
  .pageContainer {
    overflow-x: hidden;
  }
}

@media (max-width:320px) {
  .landing-category{
    padding-bottom: 80px;
  }
  
}
